[Desktop Entry]
Version=1.0
Name=CIE ID
Comment=Middleware for the Italian Electronic Identity Card
Name[it]=CIE ID
Comment[it]=Middleware della CIE (Carta di Identità Elettronica)
Exec=cieid
Icon=cieid
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Application;
StartupWMClass=it-ipzs-cieid-MainApplication
